'scopeName': 'source.ttlmacro'
'name': 'TTLMacro'
'fileTypes': ['ttl']

'patterns': [
  {
    # comment
    'match': '\s*;.*$'
    'name': 'comment.line.number-sign.ttlmacro'
  }
  {
    'match': 'filenamebox|messagebox'
    'name': 'entity.name.function.markup.bold.ttlmacro'
  }
]
